@layer base {
  html {
    font-family: var(--font-primary);
    scroll-behavior: smooth;
  }

  html,
  body {
    height: 100%;
    height: 8000px;
  }

  body {
    overflow-x: hidden;
    background: #fff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-brand-neutral-900);
  }

  p {
    color: var(--color-brand-neutral-400);
  }

  #app,
  #__nuxt {
    position: relative;
    min-height: 100%;
  }

  .section {
    margin-bottom: 5rem;
  }

  button {
    font-family: var(--font-primary);
  }

  @media screen and (min-width: 1180px) {
    .section {
      margin-bottom: 6.25rem;
    }
  }
}
