@utility container {
  margin-inline: auto;
  /* padding-inline: 1rem; */
}

@utility custom-transition {
  transition: all 0.2s ease;
}

@utility brand-fill-button {
  box-shadow: inset 0 -8px 6px -4px var(--color-brand-primary-600);
}
