@theme {
  /* container + 24px (left) + 24px (right) */
  --breakpoint-xs: 23rem; /* 320px */
  --breakpoint-sm: 26.4375rem; /* 375px */
  --breakpoint-md: 29.5625rem; /* 425px */
  --breakpoint-lg: 41rem; /* 768px */
  --breakpoint-xl: 67rem; /* 1024px */
  --breakpoint-2xl: 83rem; /* 1280px */
}
